.submitBtn {
  background: #f98d2d;
  color: #fff;
  border: none;
  margin: 22px 0;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.submitBtn:hover {
  background-color: #f98d2d;
}

.submitBtn:active {
  transform: translateY(2px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
